<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{189,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,46}}</string>
                <key>sourceSize</key>
                <string>{189,46}</string>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloud.png</string>
            <key>size</key>
            <string>{539,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75cb284729bdd850a8198dca64073fca:b181d316b24a06c3eba0a39b0b672652:3047d7f37c9f3f9d0775d24fd6dfbdfe$</string>
            <key>textureFileName</key>
            <string>cloud.png</string>
        </dict>
    </dict>
</plist>
