<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_l_light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,295}}</string>
                <key>sourceSize</key>
                <string>{294,295}</string>
            </dict>
            <key>u_l_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{180,179}}</string>
                <key>sourceSize</key>
                <string>{294,295}</string>
            </dict>
            <key>u_l_ox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,275},{133,92}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{133,92}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>u_l_ox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,275},{133,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{133,90}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>u_l_ox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,299},{147,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{147,86}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>u_l_ox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{147,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{147,90}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>u_l_ox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,183},{137,90}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{137,90}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>u_l_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{109,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,25}}</string>
                <key>sourceSize</key>
                <string>{109,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationLoading.png</string>
            <key>size</key>
            <string>{507,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788115d523c17a39b25a8407cc813462:c262dd36fd5281b230bb8b519a930237:533c17ee5f34d993be9614162d55f010$</string>
            <key>textureFileName</key>
            <string>AnimationLoading.png</string>
        </dict>
    </dict>
</plist>
