<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_gi_add_score0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,463},{90,71}}</string>
                <key>offset</key>
                <string>{-75,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,71}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{218,77}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,77}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{208,73}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{208,73}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{208,73}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{208,73}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,63}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{228,63}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{228,59}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{228,59}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{210,61}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{210,61}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{220,59}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{220,59}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{210,55}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{210,55}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_enter_room0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,609},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{46,36}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,551},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,56}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,536},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,463},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,610},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,610},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{48,52}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationGameIng.png</string>
            <key>size</key>
            <string>{243,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644602552fed88aa8ea19dc0abad56c9:b31f171a3b008161578d1c28e21fc5c9:30190499a7c2a2f78738ab63d7d2966e$</string>
            <key>textureFileName</key>
            <string>AnimationGameIng.png</string>
        </dict>
    </dict>
</plist>
