<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_c_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,202},{21,19}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>a_c_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,186},{29,29}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>a_c_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,153},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>a_c_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,186},{29,29}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>a_c_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,199},{21,21}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{21,21}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>a_c_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,209},{12,11}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{12,11}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>a_c_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,199},{22,23}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{22,23}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>a_c_gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,202},{18,17}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{18,17}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>a_gi_add_score0.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,63},{90,71}}</string>
                <key>offset</key>
                <string>{-75,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,71}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,77}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,77}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,124},{208,73}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{208,73}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{208,73}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{208,73}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{228,63}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{228,63}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{228,59}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{228,59}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{210,61}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{210,61}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{220,59}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{220,59}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_add_score8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,67},{210,55}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{210,55}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>a_gi_enter_room0.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,92},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{46,36}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,151},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,56}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,136},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,92},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,151},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_enter_room5.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,166},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{48,52}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>a_gi_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,151},{59,55}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{59,55}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>a_gi_hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,151},{55,55}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{55,55}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>a_gi_swap_card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{88,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,115}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>a_gi_swap_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,63},{86,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,119}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>a_gi_swap_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,63},{86,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,123}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>a_gi_swap_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,63},{88,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>a_gi_wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,140},{21,21}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{21,21}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>a_gi_wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,153},{31,31}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{31,31}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>a_gi_wave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,153},{47,47}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>a_gi_wave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,166},{47,47}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationGameIng.png</string>
            <key>size</key>
            <string>{1021,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7567db3a145925bd04862028825e73:7ed83fca5d30c57ea62c2ad55fa9e6e2:30190499a7c2a2f78738ab63d7d2966e$</string>
            <key>textureFileName</key>
            <string>AnimationGameIng.png</string>
        </dict>
    </dict>
</plist>
