<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_gi_have_ox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,119},{71,111}}</string>
                <key>offset</key>
                <string>{-64,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{71,111}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{129,127}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{129,127}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{183,137}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,137}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{199,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,137}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>u_gi_ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>u_gi_ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,141},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>u_gi_ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,133},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>u_gi_ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,141},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>u_gi_ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,133},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>u_gi_ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,181},{116,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,71}}</string>
                <key>sourceSize</key>
                <string>{116,71}</string>
            </dict>
            <key>u_gi_ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>u_gi_ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,122},{117,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,72}}</string>
                <key>sourceSize</key>
                <string>{117,72}</string>
            </dict>
            <key>u_gi_ox_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,118},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>u_gi_ox_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>u_gi_round0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>u_gi_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,141},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{107,107}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationOxType.png</string>
            <key>size</key>
            <string>{1002,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3772fe001c1bc488fdcce1b594820942:ae5e048db3c6990a76c772d6df1602f4:2279fc9472c618bd42a168e83cef2d2d$</string>
            <key>textureFileName</key>
            <string>AnimationOxType.png</string>
        </dict>
    </dict>
</plist>
