<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_p_dai.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{15,17}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>a_p_zhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationActionPrompt.png</string>
            <key>size</key>
            <string>{483,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9fc3554553e97ed4a6d698c0571aac:90a2bbf01687d243fc33426044451f2f:e03809bd28873ef2c870ecb4a3d6b79c$</string>
            <key>textureFileName</key>
            <string>AnimationActionPrompt.png</string>
        </dict>
    </dict>
</plist>
