<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_cl_cell0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,217},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,510},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,447},{15,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{15,13}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,379},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,533},{19,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,447},{15,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_effect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,65},{52,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>a_cl_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,472},{75,89}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{75,89}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>a_cl_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,270},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>a_cl_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,464},{137,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,120}}</string>
                <key>sourceSize</key>
                <string>{137,120}</string>
            </dict>
            <key>a_cl_effect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,297},{148,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,131}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>a_cl_effect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,137},{168,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,131}}</string>
                <key>sourceSize</key>
                <string>{172,131}</string>
            </dict>
            <key>a_cl_effect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{189,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,133}}</string>
                <key>sourceSize</key>
                <string>{191,135}</string>
            </dict>
            <key>a_cl_effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{220,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{220,145}}</string>
                <key>sourceSize</key>
                <string>{224,149}</string>
            </dict>
            <key>a_cl_effect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,146}}</string>
                <key>sourceSize</key>
                <string>{227,146}</string>
            </dict>
            <key>a_cl_effect_other0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{143,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,165}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>a_cl_effect_other1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{120,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,139}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>a_cl_effect_other2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,392},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>a_cl_effect_other3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,379},{81,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,91}}</string>
                <key>sourceSize</key>
                <string>{81,91}</string>
            </dict>
            <key>a_cl_text_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,510},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>a_cl_text_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,137},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>a_cl_text_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>a_cl_text_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,270},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationCompanyLogo.png</string>
            <key>size</key>
            <string>{488,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0c4df637017ab9018be7ede93b5420:762d53e230760bc5efd36600d0fa8419:6e9b84dc49f170198feacb009993c906$</string>
            <key>textureFileName</key>
            <string>AnimationCompanyLogo.png</string>
        </dict>
    </dict>
</plist>
