<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,224},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,256},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,434},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,160},{28,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,288},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,484},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,416},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,410},{22,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,392},{22,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,462},{20,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,386},{22,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,368},{22,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>beimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>dafangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,557},{72,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>daheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,541},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dahongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dameihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,463},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>fangkuai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>fangkuai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,446},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>fangkuai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,352},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>heise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,190},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,224},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,362},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,130},{28,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,258},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,458},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,344},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,338},{22,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,440},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,320},{22,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,190},{20,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{22,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heise9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,290},{22,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>heitao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>heitao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,335},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>heitao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,241},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>hongtao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>hongtao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,224},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>hongtao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,130},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>meihua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>meihua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,113},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>meihua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>xiaofangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,538},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xiaoheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,534},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xiaohongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,506},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xiaomeihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,502},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7613cd5deb594e2a4c60a9f41262470:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
