<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SouSuo_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>SouSuo_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,66},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>TiQu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>TiQu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,66},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>u_a_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,54},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>u_a_auction_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,34},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>u_a_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>u_a_btn_knapsack_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>u_a_btn_knapsack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,63},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>u_a_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>u_a_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,37},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>u_a_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>u_a_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>u_a_icon_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,77},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>u_a_icon_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>u_a_icon_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>u_a_icon_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>u_a_icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,58},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAuction.png</string>
            <key>size</key>
            <string>{771,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d080577b6137724aca77e2e41fd8036:abe31fd4e7ea528153deb99cc4381561:e6274a8aa8f6da0844da162cbee4ae49$</string>
            <key>textureFileName</key>
            <string>UIAuction.png</string>
        </dict>
    </dict>
</plist>
