<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JiaGeDiTu_TongYong.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,700},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>QueAing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>QueAing_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>QueDing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QueDing_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>btn_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,966},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_about_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,921},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_add_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,507},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,458},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_g3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,409},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,360},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_o3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,175},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_take_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,921},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>btn_take_out_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,556},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>u_btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,951},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>u_btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,906},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>u_info_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_orange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,852},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_info_btn_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,837},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_user_info_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,742},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_user_info_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,600},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIButton.png</string>
            <key>size</key>
            <string>{276,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0555460f53b5dc48dc0d24bedf4a650a:4ee40fc41f5d64500c8fcb62a271a1f3:06f34c26449d3ad34eefd08acebf5191$</string>
            <key>textureFileName</key>
            <string>UIButton.png</string>
        </dict>
    </dict>
</plist>
