<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,438},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,348},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,348},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>u_b_page0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,312},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>u_b_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,186},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>u_b_page_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,438},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>u_info_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_orange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,94},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_info_btn_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_user_info_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,438},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>u_user_info_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIButton.png</string>
            <key>size</key>
            <string>{252,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:054100e316c107bded0c4d50d750ef81:3a203801b179a07622b42e7c8970ded8:06f34c26449d3ad34eefd08acebf5191$</string>
            <key>textureFileName</key>
            <string>UIButton.png</string>
        </dict>
    </dict>
</plist>
