<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,42}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>u_info_sex_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_info_sex_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICheckBox.png</string>
            <key>size</key>
            <string>{252,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:081c57d5b6b251fe0dd699f48a262805:6191521fb407b84f9bc9a83c644157e1:c3fa278c8208488ef401b0d71951c10e$</string>
            <key>textureFileName</key>
            <string>UICheckBox.png</string>
        </dict>
    </dict>
</plist>
