<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,494},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,511},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>drop_down_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{175,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>u_b_opt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{383,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,127}}</string>
                <key>sourceSize</key>
                <string>{383,127}</string>
            </dict>
            <key>u_b_opt_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,127}}</string>
                <key>sourceSize</key>
                <string>{383,127}</string>
            </dict>
            <key>u_c_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,280},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>u_c_scene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,117},{111,132}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{111,132}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,260},{141,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,136}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{113,122}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{113,122}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,260},{113,124}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{113,124}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_t_mode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,466},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,388},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,421},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,511},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,489},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,386},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,444},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,444},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,251},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>u_leve_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,251},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>u_leve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,398},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>u_leve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>u_leve_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIClassicLobby.png</string>
            <key>size</key>
            <string>{511,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067949a89b0c1cd1a0cb705675da72f3:d541114689a78a9b41a14241b65e00c3:78811a12efef01b6e8b82b1d619b8184$</string>
            <key>textureFileName</key>
            <string>UIClassicLobby.png</string>
        </dict>
    </dict>
</plist>
