<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,429},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,443},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>drop_down_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{175,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>u_b_opt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{383,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,127}}</string>
                <key>sourceSize</key>
                <string>{383,127}</string>
            </dict>
            <key>u_b_opt_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,127}}</string>
                <key>sourceSize</key>
                <string>{383,127}</string>
            </dict>
            <key>u_c_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,281},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>u_c_scene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,260},{111,132}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{111,132}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,260},{141,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,136}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,128},{113,122}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{113,122}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_scene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{113,124}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{113,124}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>u_c_t_mode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,443},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,387},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,252},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,398},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,429},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_t_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>u_c_t_mode3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,394},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>u_c_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,252},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIClassicLobby.png</string>
            <key>size</key>
            <string>{502,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0cae2f29e6a012b950def9089ca6b19:316c01589af96c50dfc956f127a85870:78811a12efef01b6e8b82b1d619b8184$</string>
            <key>textureFileName</key>
            <string>UIClassicLobby.png</string>
        </dict>
    </dict>
</plist>
