<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>an7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>an7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>an8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,107},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>an8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,35},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>grxx6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{282,63}}</string>
                <key>sourceSize</key>
                <string>{282,65}</string>
            </dict>
            <key>room10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,125},{40,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>room11_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>room200_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,562},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>u_gi_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,35},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>u_gi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,430},{39,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,100}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>u_gi_lobby_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,93},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>u_gi_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,179},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>u_gi_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,67},{43,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>u_gi_submenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_submenu_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,484},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>wen10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,570},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{81,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>wen11_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,570},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{81,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>wen12_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,570},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{81,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>wen13_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,325},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{81,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>wen14_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,567},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{79,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>wen9_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,230},{93,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,40}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>不抢.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,491},{74,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>倒计时背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,173},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>准备.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,491},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>图标金币.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,542},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>抢庄.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,445},{74,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>抢庄背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,401},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>拍卖东西背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,269},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>拍卖数量减.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,403},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>拍卖数量减点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,375},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>拍卖线.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,67},{14,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,2}}</string>
                <key>sourceSize</key>
                <string>{14,2}</string>
            </dict>
            <key>数字倒计时.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{220,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,31}}</string>
                <key>sourceSize</key>
                <string>{220,31}</string>
            </dict>
            <key>数字时间.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{150,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,20}}</string>
                <key>sourceSize</key>
                <string>{154,20}</string>
            </dict>
            <key>数字赢.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{231,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,27}}</string>
                <key>sourceSize</key>
                <string>{231,27}</string>
            </dict>
            <key>数字输.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{231,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,27}}</string>
                <key>sourceSize</key>
                <string>{231,27}</string>
            </dict>
            <key>没牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,542},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>游戏中会话.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,475},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>游戏中会话点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,408},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>游戏中设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中设置点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,395},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中退出.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,366},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中退出点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,331},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>牛一.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,550},{93,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛七.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,542},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛三.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,491},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛九.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,471},{97,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛二.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,252},{97,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛五.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,542},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛八.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛六.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{95,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛四.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,331},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>牛牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,432},{93,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>结算有牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,311},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>结算没牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>金币图标.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,542},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>金币背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,401},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIng.png</string>
            <key>size</key>
            <string>{511,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a05024bccfb94776cc53ba06818b612e:68143e49cf0a52585b196e5bd9d11f6b:ca83526fc713a10942f5ff4e6a514509$</string>
            <key>textureFileName</key>
            <string>UIGameIng.png</string>
        </dict>
    </dict>
</plist>
