<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,228},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>BH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,291},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>FQ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,78},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>FQ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,221},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,151},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,215},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,302},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>JZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>JZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,442},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>KS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,141},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>KS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,372},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>TP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,302},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,77},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>TS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,289},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>XiangKuangH_Frame_TongYong.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{246,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{246,115}}</string>
                <key>sourceSize</key>
                <string>{272,141}</string>
            </dict>
            <key>XiangKuangH_Frame_ZhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{272,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,141}}</string>
                <key>sourceSize</key>
                <string>{272,141}</string>
            </dict>
            <key>XiangKuangS_Frame_ZhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,258}}</string>
                <key>sourceSize</key>
                <string>{163,258}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,425},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>u_gi_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,460},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>u_gi_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,532},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{137,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,174}}</string>
                <key>sourceSize</key>
                <string>{137,174}</string>
            </dict>
            <key>u_gi_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,379},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_call_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,497},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,425},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_exit_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,381},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,299},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,459},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_gi_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,154},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>u_gi_lobby_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>u_gi_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,278},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>u_gi_not_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,533},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_not_swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,486},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_open_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,495},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,291},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>u_gi_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,497},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,495},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>u_gi_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,221},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,430},{163,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
            <key>u_gi_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,381},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_setting_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,381},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_submenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,512},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_submenu_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,512},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_swap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,119},{157,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,190}}</string>
                <key>sourceSize</key>
                <string>{157,190}</string>
            </dict>
            <key>u_gi_swap_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,484},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_swap_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,289},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>u_gi_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,512},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_talk_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,522},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,484},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIng.png</string>
            <key>size</key>
            <string>{1010,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074fda6e82717cf85a1387a0744519c1:382e5c555a03d86f506b966823150965:ca83526fc713a10942f5ff4e6a514509$</string>
            <key>textureFileName</key>
            <string>UIGameIng.png</string>
        </dict>
    </dict>
</plist>
