<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_main_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{380,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{380,38}}</string>
                <key>sourceSize</key>
                <string>{382,48}</string>
            </dict>
            <key>ui_main_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{364,126}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{364,126}}</string>
                <key>sourceSize</key>
                <string>{368,132}</string>
            </dict>
            <key>ui_main_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,79},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ui_main_num_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,43},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ui_main_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{41,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ui_main_props0.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_main_props1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,52},{46,54}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{46,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_main_props2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,66},{60,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_main_props4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{60,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{60,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_main_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,80}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>ui_model_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,108},{72,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,22}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>ui_model_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,84},{72,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,22}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>ui_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,100},{35,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ui_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,100},{35,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ui_star_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{332,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{332,19}}</string>
                <key>sourceSize</key>
                <string>{336,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameHUD.png</string>
            <key>size</key>
            <string>{1022,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be13ce93db7288cbc3c53bd4698ed1a8$</string>
            <key>textureFileName</key>
            <string>UIGameHUD.png</string>
        </dict>
    </dict>
</plist>
