<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_k_Introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,85},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>u_k_nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>u_k_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>ui_knapsack_determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,83},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_knapsack_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>ui_knapsack_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{76,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,79}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIKnapsack.png</string>
            <key>size</key>
            <string>{294,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9947e41d0f763d04ce9c3dc5be2d9e5:5e061a25f215cee5cf477b7932a8cde5:7adc74eb6c6e62d8a58aec9d378b0cda$</string>
            <key>textureFileName</key>
            <string>UIKnapsack.png</string>
        </dict>
    </dict>
</plist>
