<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_more_download.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>u_more_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,130}}</string>
                <key>sourceSize</key>
                <string>{292,130}</string>
            </dict>
            <key>u_more_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{94,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMore.png</string>
            <key>size</key>
            <string>{350,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7dcc72d7e3f5c22894f2eefe36285f:7de675c78ef0a6535df5840067855b4b:d783d047e944d80c3df6474eecfc3847$</string>
            <key>textureFileName</key>
            <string>UIMore.png</string>
        </dict>
    </dict>
</plist>
