<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ranking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>u_ranking_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>u_ranking_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIRanking.png</string>
            <key>size</key>
            <string>{354,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e3c448a6786961664ea7c042ffde87:3e3e3217d6a00b480ce6f8c22e380c7a:fca71cec2bb19cfd8aeae45742cd4e34$</string>
            <key>textureFileName</key>
            <string>UIRanking.png</string>
        </dict>
    </dict>
</plist>
