<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_shop_vip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,642},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>u_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{227,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,636}}</string>
                <key>sourceSize</key>
                <string>{227,636}</string>
            </dict>
            <key>u_shop_cell_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1001},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_cell_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{10,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,80}}</string>
                <key>sourceSize</key>
                <string>{10,80}</string>
            </dict>
            <key>u_shop_cell_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1001},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,960},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>u_shop_close_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,906},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>u_shop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{2,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>u_shop_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,264}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,264}}</string>
                <key>sourceSize</key>
                <string>{265,268}</string>
            </dict>
            <key>u_shop_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,324},{171,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,39}}</string>
                <key>sourceSize</key>
                <string>{171,39}</string>
            </dict>
            <key>u_shop_titel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{205,93}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,93}}</string>
                <key>sourceSize</key>
                <string>{227,95}</string>
            </dict>
            <key>u_shop_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,497},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{143,33}}</string>
                <key>sourceSize</key>
                <string>{171,39}</string>
            </dict>
            <key>u_shop_vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,268},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIShop.png</string>
            <key>size</key>
            <string>{275,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c90732170b40babc1b6ec2a6c9296f3:f8f8c4bcf10b38df4473a90e8df410a6:5dff9365c6c14675677185d52acaa034$</string>
            <key>textureFileName</key>
            <string>UIShop.png</string>
        </dict>
    </dict>
</plist>
