<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaiQi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{785,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,146}}</string>
                <key>sourceSize</key>
                <string>{785,146}</string>
            </dict>
            <key>LJQD_Bnt_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,471},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>LJQD_Bnt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,659},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>QDHD_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,367},{244,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,102}}</string>
                <key>sourceSize</key>
                <string>{244,102}</string>
            </dict>
            <key>u_s_gem_box0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,779},{42,36}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,36}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>u_s_gem_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,598},{51,45}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,45}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>u_s_gem_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,610},{58,47}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,47}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>u_s_gem_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,733},{58,51}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,51}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>u_s_gem_box_open0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,779},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>u_s_gem_box_open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,551},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>u_s_gem_box_open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,720},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>u_s_gem_box_open3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,659},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>u_s_lq_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,733},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>u_s_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{363,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,257}}</string>
                <key>sourceSize</key>
                <string>{363,257}</string>
            </dict>
            <key>u_s_reward_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,779},{54,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,35}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>u_s_reward_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,551},{54,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,45}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>u_s_reward_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,779},{53,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>u_s_reward_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,733},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>u_s_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,604},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>u_s_sign_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,471},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>u_s_unsign.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,551},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISign.png</string>
            <key>size</key>
            <string>{409,823}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce583aeb792fd2aecd27bd69ffe08de:5409cb925ee50b7a95843ecc2637ebdc:adbefee705f2e5632cc8fee81fb4cc1b$</string>
            <key>textureFileName</key>
            <string>UISign.png</string>
        </dict>
    </dict>
</plist>
