<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>btn_exchange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{79,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,43}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>hand_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>u_info_change_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,112},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>u_info_change_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>u_info_hand_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,74},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>u_info_icon_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,150},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>u_info_icon_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>u_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,112},{22,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,2}}</string>
                <key>sourceSize</key>
                <string>{22,2}</string>
            </dict>
            <key>u_u_info_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,129},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIUserInfo.png</string>
            <key>size</key>
            <string>{125,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d1957f2fde326946dcf5adc9655ebed:26f03682ba9dc5ea305854f962f3ea3d:bc902cf2c8d6040129b0136ace806743$</string>
            <key>textureFileName</key>
            <string>UIUserInfo.png</string>
        </dict>
    </dict>
</plist>
