<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_shop_vip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,294},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>u_vip_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>u_vip_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>u_vip_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,119}}</string>
                <key>sourceSize</key>
                <string>{290,119}</string>
            </dict>
            <key>u_vip_reward_goods0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_vip_reward_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIVip.png</string>
            <key>size</key>
            <string>{123,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2040ed7e8019774e72d3c9c244fdb56d:9bc891d5ddf415015645fa6262409258:91b69b10d6e45d5d6017940108993f7e$</string>
            <key>textureFileName</key>
            <string>UIVip.png</string>
        </dict>
    </dict>
</plist>
