<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaiQi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,136}}</string>
                <key>sourceSize</key>
                <string>{624,136}</string>
            </dict>
            <key>JHJL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{119,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
            <key>JHJL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,53},{116,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,47}}</string>
                <key>sourceSize</key>
                <string>{116,47}</string>
            </dict>
            <key>LQJL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,102},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>LQJL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,440},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>QWSC_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,87},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>QWSC_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,584},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>VIPTQ_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{209,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,83}}</string>
                <key>sourceSize</key>
                <string>{209,83}</string>
            </dict>
            <key>s_shop_vip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,102},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>u_vip_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,545},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,506},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,409},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,588},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,529},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,491},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,398},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,394},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,297},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,343},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,312},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,246},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,200},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,215},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_discount_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,383},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,309},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,309},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,324},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,235},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,235},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_full_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,529},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>u_vip_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,148},{96,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,43}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
            <key>u_vip_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,540},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>u_vip_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>u_vip_reward_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,250},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,176},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,102},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,161},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,161},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,87},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,87},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,468},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_vip_reward_goods11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,457},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIVip.png</string>
            <key>size</key>
            <string>{498,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda67b74c93433c4b6e5a30fc02e3d33:32e9cc88a7399f7a5a39c42b1c5f1a2a:91b69b10d6e45d5d6017940108993f7e$</string>
            <key>textureFileName</key>
            <string>UIVip.png</string>
        </dict>
    </dict>
</plist>
