<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_gi_have_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>u_gi_not_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>u_gi_ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{97,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{93,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{93,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{97,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{95,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gi_ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{97,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>u_gih_ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,893},{78,49}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{76,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,643},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,565},{76,51}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,311},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,225},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,811},{80,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,727},{82,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,397},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,481},{82,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>u_gih_ox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationOxType.png</string>
            <key>size</key>
            <string>{154,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a9b6ff06e5cac960ecce8885f22257:59917ee9f6505be08ecd30afd2d72c55:2279fc9472c618bd42a168e83cef2d2d$</string>
            <key>textureFileName</key>
            <string>AnimationOxType.png</string>
        </dict>
    </dict>
</plist>
