<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_mt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,143}}</string>
                <key>sourceSize</key>
                <string>{282,143}</string>
            </dict>
            <key>a_mt_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,336},{111,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>a_mt_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{95,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,111}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>a_mt_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,115},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,111}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>a_mt_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,228},{106,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>a_mt_light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,449},{223,98}}</string>
                <key>offset</key>
                <string>{-43,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,23},{223,98}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,674},{177,158}}</string>
                <key>offset</key>
                <string>{-125,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,47},{177,158}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,853},{183,144}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,55},{183,144}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{219,164}}</string>
                <key>offset</key>
                <string>{83,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,45},{219,164}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{157,162}}</string>
                <key>offset</key>
                <string>{127,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,60},{157,162}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,76}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>a_mt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{453,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{453,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationMenuTitle.png</string>
            <key>size</key>
            <string>{383,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ff629c5596444bb5593c968dd7eaefb:2f2adf4227928f20738f47d894666e9c:7436edc98edcdff75d928ef1770cb6c7$</string>
            <key>textureFileName</key>
            <string>AnimationMenuTitle.png</string>
        </dict>
    </dict>
</plist>
