<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_l_ox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>u_l_ox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{94,75}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{94,75}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>u_l_ox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{100,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>u_l_ox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{108,79}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{108,79}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>u_l_ox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{110,75}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,75}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>u_l_ox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{98,85}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationLoading.png</string>
            <key>size</key>
            <string>{118,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d580c619a8f5bd70730d41b2c5cc7c:dbd1455e50dfc10dfd1e22e464f172ee:533c17ee5f34d993be9614162d55f010$</string>
            <key>textureFileName</key>
            <string>AnimationLoading.png</string>
        </dict>
    </dict>
</plist>
