<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_mt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{282,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,143}}</string>
                <key>sourceSize</key>
                <string>{282,143}</string>
            </dict>
            <key>a_mt_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,701},{113,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>a_mt_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,701},{97,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,113}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>a_mt_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,701},{92,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,113}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>a_mt_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,701},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>a_mt_light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,463},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>a_mt_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,701},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>a_mt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationMenuTitle.png</string>
            <key>size</key>
            <string>{954,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de2007622ca20ff47bb696e2fc0ddae3:8ebe65377b474165f5631cb1fcf3ab51:7436edc98edcdff75d928ef1770cb6c7$</string>
            <key>textureFileName</key>
            <string>AnimationMenuTitle.png</string>
        </dict>
    </dict>
</plist>
