<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_a_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>a_a_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{108,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>a_a_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationActivity.png</string>
            <key>size</key>
            <string>{120,377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f6e57e37abfbae623f96a9173439cb:2b06a7edeece46d71189ef559b4fdaed:e3b180e32448bede01cf248ba1dfb0c9$</string>
            <key>textureFileName</key>
            <string>AnimationActivity.png</string>
        </dict>
    </dict>
</plist>
