<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_o_baise.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,377},{41,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>a_o_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{397,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,320}}</string>
                <key>sourceSize</key>
                <string>{397,320}</string>
            </dict>
            <key>a_o_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,373},{210,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,110}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>a_o_line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,622}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{170,622}}</string>
                <key>sourceSize</key>
                <string>{182,628}</string>
            </dict>
            <key>a_o_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{215,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,618}}</string>
                <key>sourceSize</key>
                <string>{215,620}</string>
            </dict>
            <key>a_o_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{201,556}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{201,556}}</string>
                <key>sourceSize</key>
                <string>{205,560}</string>
            </dict>
            <key>a_o_lost_bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,219},{348,255}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{348,255}}</string>
                <key>sourceSize</key>
                <string>{350,257}</string>
            </dict>
            <key>a_o_lost_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,324},{112,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>a_o_lost_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,343},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>a_o_lost_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,174},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>a_o_lost_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{256,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,82}</string>
            </dict>
            <key>a_o_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,2},{369,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,187}}</string>
                <key>sourceSize</key>
                <string>{369,187}</string>
            </dict>
            <key>a_o_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,377},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>a_o_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,377},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>a_o_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,219},{158,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{158,122}}</string>
                <key>sourceSize</key>
                <string>{164,126}</string>
            </dict>
            <key>a_o_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,324},{283,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,147}}</string>
                <key>sourceSize</key>
                <string>{283,147}</string>
            </dict>
            <key>a_o_win_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,219},{253,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,88}}</string>
                <key>sourceSize</key>
                <string>{253,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationGameEnd.png</string>
            <key>size</key>
            <string>{1834,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c2f41d7f287143faf3b31560a261b7d:620522b34999fe74fe2372513cf3d706:98e933eaf74113cef68687f77b2dbf13$</string>
            <key>textureFileName</key>
            <string>AnimationGameEnd.png</string>
        </dict>
    </dict>
</plist>
