<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_bg_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,215},{190,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,104}}</string>
                <key>sourceSize</key>
                <string>{190,104}</string>
            </dict>
            <key>a_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{563,419}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{563,419}}</string>
                <key>sourceSize</key>
                <string>{567,457}</string>
            </dict>
            <key>a_bg_oxicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{198,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,141}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>a_bg_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,145},{272,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,100}}</string>
                <key>sourceSize</key>
                <string>{272,100}</string>
            </dict>
            <key>a_bg_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,145},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{133,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationBeginGame.png</string>
            <key>size</key>
            <string>{802,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae14b830940969dbed51c39c7d48b15:c51808653521aea1691dfff703a40410:61652f0ae58db31fd2733cc54d36d0a6$</string>
            <key>textureFileName</key>
            <string>AnimationBeginGame.png</string>
        </dict>
    </dict>
</plist>
