<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_a_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,93}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,93}}</string>
                <key>sourceSize</key>
                <string>{227,95}</string>
            </dict>
            <key>u_a_auction_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,42},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>u_a_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,54},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>u_a_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>u_a_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,42},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>u_a_icon_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>u_a_icon_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>u_a_icon_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>u_a_icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,51},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAuction.png</string>
            <key>size</key>
            <string>{359,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7644a98823f1c40c1c8202512be825d8:b25988760fb2b6680d59358c807aa64a:e6274a8aa8f6da0844da162cbee4ae49$</string>
            <key>textureFileName</key>
            <string>UIAuction.png</string>
        </dict>
    </dict>
</plist>
