<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_b_q_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,46}}</string>
                <key>sourceSize</key>
                <string>{394,46}</string>
            </dict>
            <key>u_b_select0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{130,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{130,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>u_b_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{133,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,42}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBank.png</string>
            <key>size</key>
            <string>{665,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8241218e6e9cdce9e976a0faf521b8fd:ddd9550b22ef18cf7a814c936d41143c:78a15fe7cae3374d8603729f05d96403$</string>
            <key>textureFileName</key>
            <string>UIBank.png</string>
        </dict>
    </dict>
</plist>
