<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJBXGMM_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>CJMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,36}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>CRJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{128,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,27}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>CunRu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,125},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,50}</string>
            </dict>
            <key>CunRu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
            <key>QCJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{129,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,27}}</string>
                <key>sourceSize</key>
                <string>{129,27}</string>
            </dict>
            <key>QRMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,36}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>QuChu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,50}</string>
            </dict>
            <key>QuChu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
            <key>QuanBu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>QuanBu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>SRBXGMM_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{187,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,32}}</string>
                <key>sourceSize</key>
                <string>{187,32}</string>
            </dict>
            <key>WDBXG_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{180,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,36}}</string>
                <key>sourceSize</key>
                <string>{180,36}</string>
            </dict>
            <key>WDJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{128,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,27}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>WuBaiWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>WuBaiWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,299},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>WuQianWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,461},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>WuQianWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,425},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YHCK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{130,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,26}}</string>
                <key>sourceSize</key>
                <string>{130,26}</string>
            </dict>
            <key>YiBaiWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,389},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YiBaiWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,353},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YiQianWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,404},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>YiQianWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>YiYi_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,213},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>YiYi_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,108},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBank.png</string>
            <key>size</key>
            <string>{246,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2af74ddcbe8c71dfeacc31ded1bb4bd:973535af341f85e012d2b466c87f1cd2:78a15fe7cae3374d8603729f05d96403$</string>
            <key>textureFileName</key>
            <string>UIBank.png</string>
        </dict>
    </dict>
</plist>
