<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_b_BDDX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,56}}</string>
                <key>sourceSize</key>
                <string>{537,56}</string>
            </dict>
            <key>u_b_BDSJ_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,82},{146,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,36}}</string>
                <key>sourceSize</key>
                <string>{146,36}</string>
            </dict>
            <key>u_b_BangDing_Bnt_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{187,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,78}}</string>
                <key>sourceSize</key>
                <string>{187,78}</string>
            </dict>
            <key>u_b_BangDing_Bnt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>u_b_ShouJIHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,76},{130,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{130,37}</string>
            </dict>
            <key>u_b_YanZhengMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,82},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>u_binding_get_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,60},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_get_code_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,60},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_get_code_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_input_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,60},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>u_binding_input_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,60},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>u_binding_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{105,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,65}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>u_binding_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,69},{96,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,43}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBindingPhone.png</string>
            <key>size</key>
            <string>{1010,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3632b8c82d65bf1910d146c3a2555b5:e01b347db2a7899de3389aa2f3789f5c:8b034c4d2fb53895cc075bb27d8f51e6$</string>
            <key>textureFileName</key>
            <string>UIBindingPhone.png</string>
        </dict>
    </dict>
</plist>
