<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DuiHuan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,309},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>DuiHuan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,309},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>GouMai_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,279},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>GouMai_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,179},{120,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>JiaGeDiTu_TongYong.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,189},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>QueAing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>QueAing_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,313},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>QueDing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QueDing_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>btn_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,134},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_about_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,463},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,81},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_add_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,313},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,454},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,405},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_g3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,309},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,309},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,136},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,81},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,460},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_o3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_take_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,271},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>btn_take_out_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,465},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>u_btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,134},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>u_btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,134},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>u_info_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,249},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_orange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,189},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,396},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_info_btn_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,179},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_user_info_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,301},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_user_info_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,179},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIButton.png</string>
            <key>size</key>
            <string>{622,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0180bcbee1ed6bd98edd4d425c27c9f:a8ebba0c9d10ac30bf5a93d1df7eab0e:06f34c26449d3ad34eefd08acebf5191$</string>
            <key>textureFileName</key>
            <string>UIButton.png</string>
        </dict>
    </dict>
</plist>
