<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaoCun_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{191,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,80}}</string>
                <key>sourceSize</key>
                <string>{191,80}</string>
            </dict>
            <key>BaoCun_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,263},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>FanHui_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{194,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,66}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>FanHui_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,125},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>GouMai_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,197},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>GouMai_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,351},{120,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>JiaGeDiTu_TongYong.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,660},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>LJCZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,337},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,61}</string>
            </dict>
            <key>LJCZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,515},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>QuXiao_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QuXiao_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,539},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>QueAing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>QueAing_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,189},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>QueDing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QueDing_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,357},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>btn_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,604},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_about_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,477},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,70},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_add_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,169},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,702},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,630},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,543},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_g3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,197},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,323},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,337},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,337},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>btn_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,541},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>btn_o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,354},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_o3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,169},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>btn_take_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,731},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>btn_take_out_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,751},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>u_btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,676},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>u_btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,473},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>u_info_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,506},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_orange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,506},{152,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>u_info_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,728},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_info_btn_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,728},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>u_user_info_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,102},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_user_info_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIButton.png</string>
            <key>size</key>
            <string>{502,797}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f5009cfd72e2130b1292824d6bdce50:2f12563f746fdf9ff9587cca33e98aac:06f34c26449d3ad34eefd08acebf5191$</string>
            <key>textureFileName</key>
            <string>UIButton.png</string>
        </dict>
    </dict>
</plist>
