<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_f_r_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,183}}</string>
                <key>sourceSize</key>
                <string>{388,183}</string>
            </dict>
            <key>u_f_r_reword_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{275,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,278}}</string>
                <key>sourceSize</key>
                <string>{275,278}</string>
            </dict>
            <key>u_f_r_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,282},{178,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,31}}</string>
                <key>sourceSize</key>
                <string>{178,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFirstRecharge.png</string>
            <key>size</key>
            <string>{464,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75cc7e990ff3e2e2eccddee3e5ac440e:bca1b368ca4b5ea143d6df7da546cbe0:56dac8667f17678de0f1173abbb9d008$</string>
            <key>textureFileName</key>
            <string>UIFirstRecharge.png</string>
        </dict>
    </dict>
</plist>
