<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_gih_add_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{166,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,35}}</string>
                <key>sourceSize</key>
                <string>{166,35}</string>
            </dict>
            <key>u_gih_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{174,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,206}}</string>
                <key>sourceSize</key>
                <string>{174,206}</string>
            </dict>
            <key>u_gih_add_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,251},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
            <key>u_gih_add_score_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
            <key>u_gih_add_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,333},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>u_gih_b_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{699,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{699,95}}</string>
                <key>sourceSize</key>
                <string>{699,97}</string>
            </dict>
            <key>u_gih_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,335},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_back_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,389},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_bank_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,99},{197,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,91}}</string>
                <key>sourceSize</key>
                <string>{197,91}</string>
            </dict>
            <key>u_gih_btn_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,322},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_btn_online_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,261},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_f_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,398},{59,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,335},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,328},{53,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{53,52}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,99},{45,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_jetton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,393},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,393},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,393},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,393},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,395},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,321},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>u_gih_seat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,251},{72,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,69}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>u_gih_seat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,266},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>u_gih_seat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,322},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,67}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>u_gih_seat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,321},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>u_gih_select_jetton.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,183},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>u_gih_select_jetton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,99},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>u_gih_t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,99},{192,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,98}}</string>
                <key>sourceSize</key>
                <string>{192,98}</string>
            </dict>
            <key>u_gih_timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,319},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_gih_trend.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,266},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_trend_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,391},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,344},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>下注赢.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,225},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>下注输.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,199},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>坐下.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,192},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>坐下点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,245},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>未下注.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>百人场弹出框.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,192},{51,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,97}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIngHundred.png</string>
            <key>size</key>
            <string>{703,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a081852fae0b954b3058230f438fbf:40b44db000123eb7d94211cdb813ffce:eeb12a001d7e28ce0d9d82b9f16fdaeb$</string>
            <key>textureFileName</key>
            <string>UIGameIngHundred.png</string>
        </dict>
    </dict>
</plist>
