<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,449},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>BH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,943},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>FQ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>FQ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,873},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,375},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,803},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,301},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,733},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>JZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>JZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,663},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>KS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,753},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>KS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,593},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,226},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>TP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,523},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,546},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>TS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,156},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,320},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>u_gi_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,320},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>u_gi_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,750},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{137,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,174}}</string>
                <key>sourceSize</key>
                <string>{137,174}</string>
            </dict>
            <key>u_gi_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,512},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_call_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,489},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,751},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_exit_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,637},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,865},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,375},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_gi_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,721},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>u_gi_lobby_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,375},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>u_gi_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>u_gi_not_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_not_swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,671},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_open_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,643},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,217},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>u_gi_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,565},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,945},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>u_gi_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,750},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{163,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
            <key>u_gi_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,523},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_setting_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,375},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_submenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,944},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_submenu_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,886},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_swap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,190}}</string>
                <key>sourceSize</key>
                <string>{157,190}</string>
            </dict>
            <key>u_gi_swap_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,592},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_swap_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>u_gi_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,828},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_talk_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,960},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,138},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIng.png</string>
            <key>size</key>
            <string>{459,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8511666c8c144bced5494ce2f9b8cc2a:26f54954db1e6d73a9b4902a6fcb30a5:ca83526fc713a10942f5ff4e6a514509$</string>
            <key>textureFileName</key>
            <string>UIGameIng.png</string>
        </dict>
    </dict>
</plist>
