<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{286,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,71}}</string>
                <key>sourceSize</key>
                <string>{286,71}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_gift_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,158},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,684},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,287},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,607},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{198,65}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,6},{198,65}}</string>
                <key>sourceSize</key>
                <string>{300,105}</string>
            </dict>
            <key>god_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{198,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,33}}</string>
                <key>sourceSize</key>
                <string>{198,33}</string>
            </dict>
            <key>icon_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,816},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_activity_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,816},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,750},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_auction_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,746},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,684},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_bank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,676},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,606},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_mall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,536},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,625},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_message_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,566},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,507},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_more_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,448},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,466},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_rank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,396},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,387},{78,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_set_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,326},{78,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,326},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>icon_task_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,260},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{298,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,103}}</string>
                <key>sourceSize</key>
                <string>{300,105}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,307},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameLobby.png</string>
            <key>size</key>
            <string>{253,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ce24c603ec31f7f60716316bd588a7:1640dee348d175add9be2cbd3c044847:ca7fb764031d7f467815c068f939b837$</string>
            <key>textureFileName</key>
            <string>UIGameLobby.png</string>
        </dict>
    </dict>
</plist>
