<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{286,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,71}}</string>
                <key>sourceSize</key>
                <string>{286,71}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_gift_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,202},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,201},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,201},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,155},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{198,65}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,6},{198,65}}</string>
                <key>sourceSize</key>
                <string>{300,105}</string>
            </dict>
            <key>god_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{198,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,33}}</string>
                <key>sourceSize</key>
                <string>{198,33}</string>
            </dict>
            <key>icon_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,75},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_activity_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,158},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,75},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_auction_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,168},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,85},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_bank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,107},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_mall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,107},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,75},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_message_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,75},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,190},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_more_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,190},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,158},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_rank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,131},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,190},{78,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_set_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,190},{78,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,107},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>icon_task_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,107},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{298,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,103}}</string>
                <key>sourceSize</key>
                <string>{300,105}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,107},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameLobby.png</string>
            <key>size</key>
            <string>{967,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2701da38befbb0240d3e07c00c4ed650:e42f8697e3adc7dcc1cc2b858b7fcd8c:ca7fb764031d7f467815c068f939b837$</string>
            <key>textureFileName</key>
            <string>UIGameLobby.png</string>
        </dict>
    </dict>
</plist>
