<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SZLB_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,679},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>WYSZX_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,261},{151,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,52}}</string>
                <key>sourceSize</key>
                <string>{151,52}</string>
            </dict>
            <key>WYSZX_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,86},{143,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,49}}</string>
                <key>sourceSize</key>
                <string>{143,49}</string>
            </dict>
            <key>WYXZX_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>WYXZX_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{143,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,49}}</string>
                <key>sourceSize</key>
                <string>{143,49}</string>
            </dict>
            <key>XuanZhongChouMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,231},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>u_gih_add_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,834},{133,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,45}}</string>
                <key>sourceSize</key>
                <string>{133,45}</string>
            </dict>
            <key>u_gih_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{133,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,173}}</string>
                <key>sourceSize</key>
                <string>{133,173}</string>
            </dict>
            <key>u_gih_add_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>u_gih_add_score_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,82}}</string>
                <key>sourceSize</key>
                <string>{230,82}</string>
            </dict>
            <key>u_gih_add_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,897},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>u_gih_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,324},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_gih_back_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,821},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_gih_bank_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{197,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,91}}</string>
                <key>sourceSize</key>
                <string>{197,91}</string>
            </dict>
            <key>u_gih_btn_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,316},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_gih_btn_online_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,577},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>u_gih_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,86},{89,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,138}}</string>
                <key>sourceSize</key>
                <string>{89,138}</string>
            </dict>
            <key>u_gih_f_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,959},{59,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,414},{53,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{53,52}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_f_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,959},{45,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_gih_jetton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,621},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>u_gih_jetton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,897},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>u_gih_jetton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>u_gih_jetton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,747},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,684},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,683},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,621},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_jetton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,770},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>u_gih_not_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,86},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>u_gih_online_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,478},{51,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,97}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
            <key>u_gih_seat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,469},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>u_gih_seat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,546},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>u_gih_seat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,821},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>u_gih_seat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,469},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>u_gih_select_jetton.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,916},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>u_gih_select_jetton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>u_gih_timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,163},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_gih_trend.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,226},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_gih_trend_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,674},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_gih_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,770},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIngHundred.png</string>
            <key>size</key>
            <string>{320,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4f76f835445d09edf709d4cf0339dc9:cbc11e682959a421defb135e8e5d787a:eeb12a001d7e28ce0d9d82b9f16fdaeb$</string>
            <key>textureFileName</key>
            <string>UIGameIngHundred.png</string>
        </dict>
    </dict>
</plist>
