<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_gi_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,605},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>u_gi_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,568},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{39,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,100}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>u_gi_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,494},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_call_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,242},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,471},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,663},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_gi_lobby_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>u_gi_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>u_gi_not_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,203},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_not_swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,392},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_open_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,531},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,618},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>u_gi_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,357},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,281},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>u_gi_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,320},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{43,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>u_gi_submenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,551},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_submenu_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,136},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_swap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,190}}</string>
                <key>sourceSize</key>
                <string>{157,190}</string>
            </dict>
            <key>u_gi_swap_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,313},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_swap_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>u_gi_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,394},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>游戏中会话.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,69},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>游戏中会话点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>游戏中设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中设置点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中退出.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>游戏中退出点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>金币图标.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,690},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIng.png</string>
            <key>size</key>
            <string>{255,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a286a057913eec43b9a66586cba75ff6:f2566aa894fd4d0d785c6548e0de09e0:ca83526fc713a10942f5ff4e6a514509$</string>
            <key>textureFileName</key>
            <string>UIGameIng.png</string>
        </dict>
    </dict>
</plist>
