<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BeiBao_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{158,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,97}}</string>
                <key>sourceSize</key>
                <string>{158,97}</string>
            </dict>
            <key>DuiHuan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>DuiHuan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>u_k_Introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>u_k_ShiYong_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{150,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>u_k_ShiYong_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,305},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>u_k_max_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,517},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>u_k_max_btn_prs.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,472},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>u_k_nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,190}}</string>
                <key>sourceSize</key>
                <string>{269,190}</string>
            </dict>
            <key>u_k_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,273},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>ui_knapsack_determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,318},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_knapsack_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>ui_knapsack_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,372},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,95}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIKnapsack.png</string>
            <key>size</key>
            <string>{254,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04e2700043d3230c9ee0d888eb393ba:3de50e642970c77d0a598cd8b7571f7c:7adc74eb6c6e62d8a58aec9d378b0cda$</string>
            <key>textureFileName</key>
            <string>UIKnapsack.png</string>
        </dict>
    </dict>
</plist>
