<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_l_ass.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,185},{133,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>u_l_ass_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,185},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>u_l_ass_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,185},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>u_l_ass_password_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,185},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>u_l_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{211,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,92}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>u_l_btn_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,92}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>u_l_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,185},{111,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{111,34}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>u_l_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,215},{133,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>u_l_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{133,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>u_l_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{369,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,181}}</string>
                <key>sourceSize</key>
                <string>{369,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILogon.png</string>
            <key>size</key>
            <string>{561,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a035d1210c03b511783ec46938293f:232f2d5a7bc485b331c3f97895b1a78d:87b72d562358c0152c5e043a32235641$</string>
            <key>textureFileName</key>
            <string>UILogon.png</string>
        </dict>
    </dict>
</plist>
