<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DLDW.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{382,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,64}}</string>
                <key>sourceSize</key>
                <string>{382,64}</string>
            </dict>
            <key>KSDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,68},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>KSDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,107},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>QQDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>QQDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,107},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZCZH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,68},{147,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,47}}</string>
                <key>sourceSize</key>
                <string>{147,47}</string>
            </dict>
            <key>ZCZH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,48},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZHDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,68},{148,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,47}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>ZHDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,68},{89,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,37}}</string>
                <key>sourceSize</key>
                <string>{89,37}</string>
            </dict>
            <key>ZhuCe_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,175},{167,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,71}}</string>
                <key>sourceSize</key>
                <string>{167,71}</string>
            </dict>
            <key>ZhuCe_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,94},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>u_l_DengLu_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>u_l_DengLu_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>u_l_MiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>u_l_NiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,214},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>u_l_WYZC_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,68},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>u_l_WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,68},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>u_l_ZHDL_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,68},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>u_l_ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,162},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>u_l_account_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,218},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>u_l_account_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,175},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>u_l_account_more_delet.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,218},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>u_l_ass_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,175},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>u_l_ass_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,223},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>u_l_ass_password_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,217},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILogon.png</string>
            <key>size</key>
            <string>{710,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98daf03b4b769e56dbf3bba1448c580a:dbb4e3c3139218998172015b7dcdaddf:87b72d562358c0152c5e043a32235641$</string>
            <key>textureFileName</key>
            <string>UILogon.png</string>
        </dict>
    </dict>
</plist>
