<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DLDW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,64}}</string>
                <key>sourceSize</key>
                <string>{382,64}</string>
            </dict>
            <key>KSDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,72},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>KSDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,209},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>QQDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,119},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>QQDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,209},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZCZH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,68},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>ZCZH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZHDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,123},{148,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,47}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>ZHDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>ZhuCe_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{167,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,71}}</string>
                <key>sourceSize</key>
                <string>{167,71}</string>
            </dict>
            <key>ZhuCe_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>u_l_MiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,172},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>u_l_NiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>u_l_WYZC_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,170},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>u_l_WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,48},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>u_l_ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,172},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>u_l_account_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,205},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>u_l_account_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,232},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{21,17}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>u_l_account_more_delet.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,170},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_l_ass_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,48},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>u_l_ass_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,205},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>u_l_ass_password_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,205},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILogon.png</string>
            <key>size</key>
            <string>{526,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ded745a1f892885b027a20a4f9c12b2:a9058bb9fb2a7aaa459af920ec4f992a:87b72d562358c0152c5e043a32235641$</string>
            <key>textureFileName</key>
            <string>UILogon.png</string>
        </dict>
    </dict>
</plist>
