<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_more_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,130}}</string>
                <key>sourceSize</key>
                <string>{292,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMore.png</string>
            <key>size</key>
            <string>{296,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2c660787040b0dc0c9a57709fe5551:0c820fe41c34d0cbb66d8463b5c76663:d783d047e944d80c3df6474eecfc3847$</string>
            <key>textureFileName</key>
            <string>UIMore.png</string>
        </dict>
    </dict>
</plist>
