<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,611}}</string>
                <key>sourceSize</key>
                <string>{293,611}</string>
            </dict>
            <key>mode0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,615},{285,399}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{285,399}}</string>
                <key>sourceSize</key>
                <string>{293,611}</string>
            </dict>
            <key>mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{292,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,611}}</string>
                <key>sourceSize</key>
                <string>{292,611}</string>
            </dict>
            <key>mode1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{286,399}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{286,399}}</string>
                <key>sourceSize</key>
                <string>{292,611}</string>
            </dict>
            <key>mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{292,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,611}}</string>
                <key>sourceSize</key>
                <string>{292,611}</string>
            </dict>
            <key>mode2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,615},{284,399}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{284,399}}</string>
                <key>sourceSize</key>
                <string>{292,611}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMode.png</string>
            <key>size</key>
            <string>{885,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b95143134007e1cead6bb22cc1a397b9:163fcf4cc35db794c972ad98465b99c8:78030c5705e793599322997a92e2e31c$</string>
            <key>textureFileName</key>
            <string>UIMode.png</string>
        </dict>
    </dict>
</plist>
