<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{277,293}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{277,293}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{287,305}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{287,305}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,348},{237,253}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{237,253}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,348},{245,265}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{245,265}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{217,293}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{217,293}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{229,303}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{229,303}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,307},{227,301}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{227,301}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>mode3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,311}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{239,311}}</string>
                <key>sourceSize</key>
                <string>{287,327}</string>
            </dict>
            <key>shade0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,297},{276,49}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,79}</string>
            </dict>
            <key>shade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,622},{262,57}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{262,57}}</string>
                <key>sourceSize</key>
                <string>{276,79}</string>
            </dict>
            <key>shade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{248,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{248,77}}</string>
                <key>sourceSize</key>
                <string>{276,79}</string>
            </dict>
            <key>shade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,610},{220,79}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{220,79}}</string>
                <key>sourceSize</key>
                <string>{276,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMode.png</string>
            <key>size</key>
            <string>{1018,701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea8d6608297b0b911133ee8275e3440:41f418344a059e5b275d86fa72df6d09:78030c5705e793599322997a92e2e31c$</string>
            <key>textureFileName</key>
            <string>UIMode.png</string>
        </dict>
    </dict>
</plist>
