<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiaoTi_MBDW.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,541},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>ChongZhi_Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,434},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>ShengJi_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,434},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>TiShi_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,532},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>XiaoBiaoTi_DiWen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,632},{109,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,41}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>u_lobby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,581},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>u_p_BDSJ_DW.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,373},{156,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,166}}</string>
                <key>sourceSize</key>
                <string>{156,166}</string>
            </dict>
            <key>u_p_DiWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,402},{154,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,228}}</string>
                <key>sourceSize</key>
                <string>{154,228}</string>
            </dict>
            <key>u_pop_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{521,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,272}}</string>
                <key>sourceSize</key>
                <string>{521,272}</string>
            </dict>
            <key>u_pop_small_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,607},{229,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,45}}</string>
                <key>sourceSize</key>
                <string>{229,45}</string>
            </dict>
            <key>u_shop_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{223,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,267}}</string>
                <key>sourceSize</key>
                <string>{223,267}</string>
            </dict>
            <key>u_u_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,526},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_u_info_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,271},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>u_u_info_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{369,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,130}}</string>
                <key>sourceSize</key>
                <string>{369,130}</string>
            </dict>
            <key>u_u_info_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,353},{180,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,79}}</string>
                <key>sourceSize</key>
                <string>{180,79}</string>
            </dict>
            <key>u_u_knapsack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,632},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>ui_pop_user_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,398}}</string>
                <key>sourceSize</key>
                <string>{656,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIPanel.png</string>
            <key>size</key>
            <string>{1021,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9239a933c725c451f8610fcf1982f15:a16ff1680a210c5ccfc61b589dd22513:32c497890652a868b1bc601216ad4c61$</string>
            <key>textureFileName</key>
            <string>UIPanel.png</string>
        </dict>
    </dict>
</plist>
