<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BXGMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,141},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>DLMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,202},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>GYWM_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,73},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>GYWM_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,138},{146,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,62}}</string>
                <key>sourceSize</key>
                <string>{146,62}</string>
            </dict>
            <key>SheZhi_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,97}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>XHZH_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{178,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,69}}</string>
                <key>sourceSize</key>
                <string>{178,69}</string>
            </dict>
            <key>XHZH_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>YJFK_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>YJFK_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,177},{147,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,62}}</string>
                <key>sourceSize</key>
                <string>{147,62}</string>
            </dict>
            <key>YXBZ_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>YXBZ_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,74},{147,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,62}}</string>
                <key>sourceSize</key>
                <string>{147,62}</string>
            </dict>
            <key>YinXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,74},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
            <key>YinYue.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,202},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISetUp.png</string>
            <key>size</key>
            <string>{520,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bec1c167e304e2c0298aa3cd5e5ffa:c6bc9e7a8080a111efaf20c5e4ce64c8:a51faf4be4b6ab9ecbe2b87d4b978dc4$</string>
            <key>textureFileName</key>
            <string>UISetUp.png</string>
        </dict>
    </dict>
</plist>
