<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,91},{316,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{316,83}}</string>
                <key>sourceSize</key>
                <string>{332,87}</string>
            </dict>
            <key>u_btn_friends_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{332,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,87}}</string>
                <key>sourceSize</key>
                <string>{332,87}</string>
            </dict>
            <key>u_btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,91},{316,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{316,83}}</string>
                <key>sourceSize</key>
                <string>{332,87}</string>
            </dict>
            <key>u_btn_weixin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{332,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,87}}</string>
                <key>sourceSize</key>
                <string>{332,87}</string>
            </dict>
            <key>u_share_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>u_text_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,91},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIShare.png</string>
            <key>size</key>
            <string>{881,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bcfef5cdd841f3f17652727a75177c:b4358c0d8e146f23abb4cb0c362ad692:66e28329b3be090a6cdc18608fa84c6d$</string>
            <key>textureFileName</key>
            <string>UIShare.png</string>
        </dict>
    </dict>
</plist>
