<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,394},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>btn_exchange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{79,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,43}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>hand_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>u_i_BDSJ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{151,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,59}}</string>
                <key>sourceSize</key>
                <string>{151,59}</string>
            </dict>
            <key>u_i_BDSJ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,492},{141,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,54}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>u_i_BaoCun_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
            <key>u_i_BaoCun_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>u_i_IDZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,466},{55,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,24}}</string>
                <key>sourceSize</key>
                <string>{55,24}</string>
            </dict>
            <key>u_i_JiangQuanZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,252},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>u_i_JinBiZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,92},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>u_i_NiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>u_i_XingBie.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,162},{88,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,31}}</string>
                <key>sourceSize</key>
                <string>{88,31}</string>
            </dict>
            <key>u_i_XiuGai_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>u_i_XiuGai_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>u_i_YuanBaoZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{65,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>u_info_GRXX_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>u_info_change_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,635},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>u_info_change_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,39},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>u_info_hand_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>u_info_icon_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,320},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>u_info_icon_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>u_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,35},{22,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,2}}</string>
                <key>sourceSize</key>
                <string>{22,2}</string>
            </dict>
            <key>u_u_info_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,635},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIUserInfo.png</string>
            <key>size</key>
            <string>{127,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5cc5e7dab2e85ee1e781256712d991:55c60a767cbf6f07f3f87b1047fcfb46:bc902cf2c8d6040129b0136ace806743$</string>
            <key>textureFileName</key>
            <string>UIUserInfo.png</string>
        </dict>
    </dict>
</plist>
