<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaiQi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,136}}</string>
                <key>sourceSize</key>
                <string>{624,136}</string>
            </dict>
            <key>LQJL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,113},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>LQJL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,153},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>QWSC_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>QWSC_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,42},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>VIPTQ_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{209,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,83}}</string>
                <key>sourceSize</key>
                <string>{209,83}</string>
            </dict>
            <key>s_shop_vip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,87},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>u_vip_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,487},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,358},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,261},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,265},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,111},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,444},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,347},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,250},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,153},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,78},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,450},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,353},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,256},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_discount_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,459},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,526},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,413},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,339},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,265},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,191},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_discount_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,117},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_full_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,541},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>u_vip_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,208},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>u_vip_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,87},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>u_vip_reward_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,547},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,523},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,449},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,375},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,301},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,227},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,153},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,189},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_vip_reward_goods11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,117},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIVip.png</string>
            <key>size</key>
            <string>{474,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01c93ddc1f276260589fc4669a0eb679:ac093d1734ae38a7fe08e73bdfe21dfa:91b69b10d6e45d5d6017940108993f7e$</string>
            <key>textureFileName</key>
            <string>UIVip.png</string>
        </dict>
    </dict>
</plist>
