<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaiQi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,136}}</string>
                <key>sourceSize</key>
                <string>{624,136}</string>
            </dict>
            <key>QWSC_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,140},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>QWSC_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>VIPTQ_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{209,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,83}}</string>
                <key>sourceSize</key>
                <string>{209,83}</string>
            </dict>
            <key>s_shop_vip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>u_vip_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,212},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,180},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,194},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,155},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,116},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,77},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,76},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,115},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,76},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,38},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,214},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,214},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,214},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_btn_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,214},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>u_vip_full_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,173},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>u_vip_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,104},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>u_vip_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,28},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>u_vip_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,174},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>u_vip_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>u_vip_reward_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,140},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,28},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,140},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,140},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,140},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_vip_reward_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,115},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_vip_reward_goods11.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,102},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_vip_reward_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,140},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIVip.png</string>
            <key>size</key>
            <string>{1022,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e71cef4802037a58e0fa07b116d5bfa:07845d222eed4826b3def981a2825662:91b69b10d6e45d5d6017940108993f7e$</string>
            <key>textureFileName</key>
            <string>UIVip.png</string>
        </dict>
    </dict>
</plist>
