<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_o_baise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,727},{41,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>a_o_light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,639}}</string>
                <key>sourceSize</key>
                <string>{794,639}</string>
            </dict>
            <key>a_o_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{397,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,639}}</string>
                <key>sourceSize</key>
                <string>{397,639}</string>
            </dict>
            <key>a_o_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,877},{210,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,110}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>a_o_line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{170,622}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{170,622}}</string>
                <key>sourceSize</key>
                <string>{182,628}</string>
            </dict>
            <key>a_o_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,777},{215,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,618}}</string>
                <key>sourceSize</key>
                <string>{215,620}</string>
            </dict>
            <key>a_o_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{201,556}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{201,556}}</string>
                <key>sourceSize</key>
                <string>{205,560}</string>
            </dict>
            <key>a_o_lost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{642,597}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{642,597}}</string>
                <key>sourceSize</key>
                <string>{686,615}</string>
            </dict>
            <key>a_o_lost_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,646},{112,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>a_o_lost_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,646},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>a_o_lost_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,817},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>a_o_lost_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,643},{256,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,82}</string>
            </dict>
            <key>a_o_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{369,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,187}}</string>
                <key>sourceSize</key>
                <string>{369,187}</string>
            </dict>
            <key>a_o_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,643},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>a_o_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,727},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>a_o_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,646},{158,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{158,122}}</string>
                <key>sourceSize</key>
                <string>{164,126}</string>
            </dict>
            <key>a_o_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,646},{283,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,147}}</string>
                <key>sourceSize</key>
                <string>{283,147}</string>
            </dict>
            <key>a_o_win_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,727},{253,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,88}}</string>
                <key>sourceSize</key>
                <string>{253,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationGameEnd.png</string>
            <key>size</key>
            <string>{1817,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7933fb4495294e0513e3e9f333630c:c71f3440b68fad2ed3381e12c8a53271:98e933eaf74113cef68687f77b2dbf13$</string>
            <key>textureFileName</key>
            <string>AnimationGameEnd.png</string>
        </dict>
    </dict>
</plist>
