<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_l_card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,643},{91,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,158}}</string>
                <key>sourceSize</key>
                <string>{95,162}</string>
            </dict>
            <key>a_l_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,643},{166,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,223}}</string>
                <key>sourceSize</key>
                <string>{166,223}</string>
            </dict>
            <key>a_l_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,643},{199,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,222}}</string>
                <key>sourceSize</key>
                <string>{199,222}</string>
            </dict>
            <key>a_l_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{111,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,162}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>a_l_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,904},{98,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,135}}</string>
                <key>sourceSize</key>
                <string>{102,139}</string>
            </dict>
            <key>a_l_card_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,867},{133,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{133,152}}</string>
                <key>sourceSize</key>
                <string>{199,222}</string>
            </dict>
            <key>a_l_eye_light_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,904},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>a_l_eye_light_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,643},{238,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,28}}</string>
                <key>sourceSize</key>
                <string>{238,28}</string>
            </dict>
            <key>a_l_ox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,639}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{708,639}}</string>
                <key>sourceSize</key>
                <string>{732,639}</string>
            </dict>
            <key>a_l_ox_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,868},{207,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,138}}</string>
                <key>sourceSize</key>
                <string>{207,138}</string>
            </dict>
            <key>a_l_ox_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{237,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,259}}</string>
                <key>sourceSize</key>
                <string>{237,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationLogonOx.png</string>
            <key>size</key>
            <string>{733,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b639fd4c7134cf62a5a954929faaec:d9c8f1852e3a25d5a30d79f66aca7bf0:6dc9451f098c80a657ea57fe4f57019c$</string>
            <key>textureFileName</key>
            <string>AnimationLogonOx.png</string>
        </dict>
    </dict>
</plist>
