<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_reward_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>u_reward_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>u_reward_day_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,30},{97,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>u_reward_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{125,26}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,81},{125,26}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIActivity.png</string>
            <key>size</key>
            <string>{395,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6479ed810eec8b3e8a6234bb360d5044:e60384933e94fe4981989e0f41c931ad:476ad216300cae5082ac3a37eecffb98$</string>
            <key>textureFileName</key>
            <string>UIActivity.png</string>
        </dict>
    </dict>
</plist>
