<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiaoTiKuang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,185},{347,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,73}}</string>
                <key>sourceSize</key>
                <string>{347,73}</string>
            </dict>
            <key>CheXiao_Bnt_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>CheXiao_Bnt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{120,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>DanJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,632},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,21}</string>
            </dict>
            <key>JinBi_Da.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,534},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>PMJL_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
            <key>PMJL_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,328},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>PMSL.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,594},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>PMXX_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>PMXX_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>SJSP.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,240},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>SouSuo_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>SouSuo_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,619},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>TiQu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>TiQu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,540},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>WDPM_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>WDPM_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
            <key>u_a_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>u_a_auction_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,216},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>u_a_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>u_a_btn_knapsack_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>u_a_btn_knapsack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>u_a_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>u_a_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,463},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>u_a_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,680},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>u_a_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,632},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>u_a_icon_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,630},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>u_a_icon_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,672},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>u_a_icon_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,189},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>u_a_icon_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,594},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>u_a_icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,504},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAuction.png</string>
            <key>size</key>
            <string>{254,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d4c9ee858c8ef18993dc03e2fe7dcf:1db00dcdce6843296947854a0b7a7e98:e6274a8aa8f6da0844da162cbee4ae49$</string>
            <key>textureFileName</key>
            <string>UIAuction.png</string>
        </dict>
    </dict>
</plist>
