<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJBXGMM_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{192,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>CRJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,79},{128,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,27}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>CunRu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,108},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,50}</string>
            </dict>
            <key>CunRu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,201},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
            <key>QCJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,50},{129,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,27}}</string>
                <key>sourceSize</key>
                <string>{129,27}</string>
            </dict>
            <key>QuChu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,50}</string>
            </dict>
            <key>QuChu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,158},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
            <key>QuanBu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,74},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>QuanBu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,74},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>SRBXGMM_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{187,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,32}}</string>
                <key>sourceSize</key>
                <string>{187,32}</string>
            </dict>
            <key>WDBXG_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{180,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,36}}</string>
                <key>sourceSize</key>
                <string>{180,36}</string>
            </dict>
            <key>WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>WuBaiWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,146},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>WuBaiWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,110},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>WuQianWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,218},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>WuQianWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,182},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YHCK.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,46},{130,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,26}}</string>
                <key>sourceSize</key>
                <string>{130,26}</string>
            </dict>
            <key>YiBaiWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,218},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YiBaiWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,182},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>YiQianWan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,194},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>YiQianWan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,158},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>YiYi_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,74},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>YiYi_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,50},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>u_b_q_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,46}}</string>
                <key>sourceSize</key>
                <string>{394,46}</string>
            </dict>
            <key>u_b_select0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{130,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{130,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>u_b_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{133,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,42}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBank.png</string>
            <key>size</key>
            <string>{545,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e70bdf9a31a9fc5def0c89dcd581cfa:b8a3176f5f8f15535880c81cad948963:78a15fe7cae3374d8603729f05d96403$</string>
            <key>textureFileName</key>
            <string>UIBank.png</string>
        </dict>
    </dict>
</plist>
