<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_binding_get_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,48},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_get_code_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_get_code_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>u_binding_input_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,48},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>u_binding_input_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,68},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>u_binding_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>u_binding_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,48},{139,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,39}}</string>
                <key>sourceSize</key>
                <string>{139,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBindingPhone.png</string>
            <key>size</key>
            <string>{462,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ec878c4c7ffa86b301dbd8564ec9f1:30b095ede348cbd14fa6db1babc1a7c3:8b034c4d2fb53895cc075bb27d8f51e6$</string>
            <key>textureFileName</key>
            <string>UIBindingPhone.png</string>
        </dict>
    </dict>
</plist>
