<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaoCun_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{191,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,80}}</string>
                <key>sourceSize</key>
                <string>{191,80}</string>
            </dict>
            <key>BaoCun_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,610},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>FanHui_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{194,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,66}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>FanHui_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,625},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>GouMai_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,187},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>GouMai_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{120,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>JiaGeDiTu_TongYong.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,55},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>LJBD_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,811},{168,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,61}}</string>
                <key>sourceSize</key>
                <string>{168,61}</string>
            </dict>
            <key>LJBD_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,820},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>LJCZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,811},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,61}</string>
            </dict>
            <key>LJCZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>QianWangChongZhi_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QianWangChongZhi_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>QuXiao_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QuXiao_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>QueAing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>QueAing_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,437},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>QueDing_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>QueDing_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>TuiChu_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>TuiChu_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>btn_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,142},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_about_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,97},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>btn_add_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,437},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>u_btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,874},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>u_btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,820},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>u_user_info_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,342},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_user_info_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,242},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIButton.png</string>
            <key>size</key>
            <string>{327,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f3c2e59803cc6ff4b7842088f0bb395:cce6942cbd01b3b87017629d74d33243:06f34c26449d3ad34eefd08acebf5191$</string>
            <key>textureFileName</key>
            <string>UIButton.png</string>
        </dict>
    </dict>
</plist>
