<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_f_r_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{296,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,169}}</string>
                <key>sourceSize</key>
                <string>{296,169}</string>
            </dict>
            <key>u_f_r_reword_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,265}}</string>
                <key>sourceSize</key>
                <string>{217,265}</string>
            </dict>
            <key>u_f_r_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,173},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFirstRecharge.png</string>
            <key>size</key>
            <string>{567,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8792717424e36f28578a78def0dfc04:e05520e68619f4b90e4f9daf47cfb3c4:56dac8667f17678de0f1173abbb9d008$</string>
            <key>textureFileName</key>
            <string>UIFirstRecharge.png</string>
        </dict>
    </dict>
</plist>
