<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,935},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>10万.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,935},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>1万.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,872},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,809},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>50万.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,809},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>u_gih_add_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,316},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
            <key>u_gih_add_score_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,270},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
            <key>u_gih_b_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{699,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{699,95}}</string>
                <key>sourceSize</key>
                <string>{699,97}</string>
            </dict>
            <key>u_gih_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,922},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_back_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,855},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gih_t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,147},{192,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,98}}</string>
                <key>sourceSize</key>
                <string>{192,98}</string>
            </dict>
            <key>下注背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,560},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>下注赢.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,28},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>下注转.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,565},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>下注输.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>倒计时提示背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,178},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>图标胜.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,900},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>图标负.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,758},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>在线.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,922},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>在线点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,855},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>地.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,696},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>坐下.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,440},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>坐下点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,366},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>天.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,239},{72,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,69}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>庄家牌背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,54},{197,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,91}}</string>
                <key>sourceSize</key>
                <string>{197,91}</string>
            </dict>
            <key>我下注背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{166,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,35}}</string>
                <key>sourceSize</key>
                <string>{166,35}</string>
            </dict>
            <key>数字总注.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,247},{140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,21}}</string>
                <key>sourceSize</key>
                <string>{140,21}</string>
            </dict>
            <key>数字总注万.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,264},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>数字我下注.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{170,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,22}}</string>
                <key>sourceSize</key>
                <string>{170,22}</string>
            </dict>
            <key>数字我下注万.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,239},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>未下注.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,224},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>玄.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,247},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,67}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>白色没牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,745},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛一.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,781},{78,49}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛七.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,616},{82,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛三.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,816},{76,51}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛九.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,643},{82,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛二.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,694},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛五.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,565},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛八.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,644},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛六.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,644},{80,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛四.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,535},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>白色牛牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,752},{76,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>百人场弹出框.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,313},{51,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,97}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
            <key>百人场牛牛底.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,340},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>纪录.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,869},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>纪录地.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,967},{59,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>纪录天.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,967},{53,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{53,52}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>纪录点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,900},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>纪录玄.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,974},{45,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>纪录黄.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,873},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,206}}</string>
                <key>sourceSize</key>
                <string>{174,206}</string>
            </dict>
            <key>背景选择.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>蓝色没牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,695},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛一.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,765},{78,49}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛七.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,586},{82,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛三.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,802},{76,51}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛九.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,560},{82,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,51}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛二.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,643},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛五.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,514},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛八.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,673},{82,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛六.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,724},{80,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛四.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,514},{84,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>蓝色牛牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,701},{76,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>黄.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,832},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>黄色没牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,460},{104,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛一.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,449},{102,63}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{102,63}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛七.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,77},{108,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,71}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛三.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,491},{100,67}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,67}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛九.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,282},{108,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,67}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛二.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,395},{106,63}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,63}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛五.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,150},{110,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{110,65}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛八.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,351},{108,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,63}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛六.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,416},{106,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛四.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,217},{110,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>黄色牛牛.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{100,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIngHundred.png</string>
            <key>size</key>
            <string>{519,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c427f62f95272ba630882680a700bd4:8e02dddaaf69a51af9d9796467beb9d0:eeb12a001d7e28ce0d9d82b9f16fdaeb$</string>
            <key>textureFileName</key>
            <string>UIGameIngHundred.png</string>
        </dict>
    </dict>
</plist>
