<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,527},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>BH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,722},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>FQ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,546},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>FQ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,722},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,453},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,734},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>HZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,379},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>HZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,527},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>JZ_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>JZ_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,527},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>KS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,305},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>KS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,757},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TP_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,230},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>TP_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,757},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>TS_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,156},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>TS_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,734},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>u_cm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,420},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>u_cm_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,862},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>u_gi_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>u_gi_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,847},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{137,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,174}}</string>
                <key>sourceSize</key>
                <string>{137,174}</string>
            </dict>
            <key>u_gi_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,611},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_call_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,917},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,333},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_exit_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,219},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,139},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,929},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_gi_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,907},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>u_gi_lobby_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>u_gi_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>u_gi_not_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,917},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_gi_not_swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,783},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_open_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,769},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,138},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>u_gi_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,691},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,514},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>u_gi_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,626},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>u_gi_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{163,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
            <key>u_gi_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,512},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_setting_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,512},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>u_gi_submenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,420},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,90}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>u_gi_submenu_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,241},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>u_gi_swap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,190}}</string>
                <key>sourceSize</key>
                <string>{157,190}</string>
            </dict>
            <key>u_gi_swap_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,704},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>u_gi_swap_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>u_gi_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,553},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_talk_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,447},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>u_gi_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,341},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameIng.png</string>
            <key>size</key>
            <string>{509,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2956eedf11a02fb233753b0d34dc97b:0495cd9f233212299060421e5fcc369e:ca83526fc713a10942f5ff4e6a514509$</string>
            <key>textureFileName</key>
            <string>UIGameIng.png</string>
        </dict>
    </dict>
</plist>
