<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_gift_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{45,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,127}}</string>
                <key>sourceSize</key>
                <string>{45,129}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{243,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_top-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,504},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>btn_top-up_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,451},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,543},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{198,65}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,6},{198,65}}</string>
                <key>sourceSize</key>
                <string>{300,105}</string>
            </dict>
            <key>god_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{198,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,33}}</string>
                <key>sourceSize</key>
                <string>{198,33}</string>
            </dict>
            <key>icon_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,925},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>icon_activity_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>icon_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,764},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>icon_auction_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{93,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>icon_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,843},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>icon_bank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,490},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>icon_knapsack.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,939},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>icon_knapsack_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>icon_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{86,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{86,95}</string>
            </dict>
            <key>icon_mall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,263},{75,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>icon_message_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,578},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,340},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>icon_more_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,365},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,854},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>icon_rank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,578},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,662},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>icon_set_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,764},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>icon_task_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,671},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{254,105}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>u_bnt_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,418},{84,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{84,60}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameLobby.png</string>
            <key>size</key>
            <string>{271,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb04d695c8764dee134df3a183efae94:ac095e743e9a0090797e76bb46e9c854:ca7fb764031d7f467815c068f939b837$</string>
            <key>textureFileName</key>
            <string>UIGameLobby.png</string>
        </dict>
    </dict>
</plist>
