<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_btn_backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{173,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,73}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>u_btn_backpack_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>u_text_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{200,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,35}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>u_text_titel_exchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,77},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGiftExchang.png</string>
            <key>size</key>
            <string>{369,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e170deaaeffadeb2c52e907d0e306e9:9c924273412a4f2fed230cb92169fd02:4798233eee2436cce12d161aad015545$</string>
            <key>textureFileName</key>
            <string>UIGiftExchang.png</string>
        </dict>
    </dict>
</plist>
