<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BRNN_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>BRNN_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,30},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>FanKui_Bnt_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{182,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,76}}</string>
                <key>sourceSize</key>
                <string>{182,76}</string>
            </dict>
            <key>FanKui_Bnt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,30},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>GYWM_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,30},{145,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,36}}</string>
                <key>sourceSize</key>
                <string>{145,36}</string>
            </dict>
            <key>HPNN_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>HPNN_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>TBNN_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,30},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>TBNN_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,170},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>XieYiJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,26}}</string>
                <key>sourceSize</key>
                <string>{558,26}</string>
            </dict>
            <key>YJFK_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,197},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>YXBZ_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,30},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHelp.png</string>
            <key>size</key>
            <string>{562,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd900e1b77245fa695e96204d59b7c1:8bbea29c87e1bebfaea51c273460add7:bcf795e9e38eb2205b142f45749bb387$</string>
            <key>textureFileName</key>
            <string>UIHelp.png</string>
        </dict>
    </dict>
</plist>
