<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DLDW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,64}}</string>
                <key>sourceSize</key>
                <string>{382,64}</string>
            </dict>
            <key>KSDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,712},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>KSDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,643},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>QQDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>QQDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,504},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,835},{89,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,37}}</string>
                <key>sourceSize</key>
                <string>{89,37}</string>
            </dict>
            <key>ZhuCe_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,386},{167,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,71}}</string>
                <key>sourceSize</key>
                <string>{167,71}</string>
            </dict>
            <key>ZhuCe_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,555},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>u_btn_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,695},{138,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{138,45}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>u_btn_wx_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,350},{152,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,49}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>u_btn_zhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,555},{138,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{138,45}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>u_btn_zhc_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,350},{152,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,49}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>u_btn_zhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{303,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{303,45}}</string>
                <key>sourceSize</key>
                <string>{333,49}</string>
            </dict>
            <key>u_btn_zhh_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{333,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,49}}</string>
                <key>sourceSize</key>
                <string>{333,49}</string>
            </dict>
            <key>u_l_DengLu_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>u_l_DengLu_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>u_l_MiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,782},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>u_l_NiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,643},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>u_l_WYZC_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,874},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>u_l_WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,350},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>u_l_ZHDL_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,504},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>u_l_ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,815},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>u_l_account_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,157},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>u_l_account_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,897},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>u_l_account_more_delet.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>u_l_ass_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,350},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>u_l_ass_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,457},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>u_l_ass_password_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,353},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>u_l_ass_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,307},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>u_l_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,197},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>u_l_share_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,197},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILogon.png</string>
            <key>size</key>
            <string>{255,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:542b3702d86e458bcaae7b9448d81b1b$</string>
            <key>textureFileName</key>
            <string>UILogon.png</string>
        </dict>
    </dict>
</plist>
