<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_task_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{95,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,18}}</string>
                <key>sourceSize</key>
                <string>{99,20}</string>
            </dict>
            <key>u_task_loading_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>u_vip_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{291,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,16}}</string>
                <key>sourceSize</key>
                <string>{291,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILoadingBar.png</string>
            <key>size</key>
            <string>{430,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe491c283bba0921198d6f4f2cf7319e:b9e3072f989fadb4145a09b60940f6c4:309247722e6556c9f6e0d897d475f239$</string>
            <key>textureFileName</key>
            <string>UILoadingBar.png</string>
        </dict>
    </dict>
</plist>
