<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DLDW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,64}}</string>
                <key>sourceSize</key>
                <string>{382,64}</string>
            </dict>
            <key>KSDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,136},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>KSDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,130},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>QQDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,68},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>QQDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,84},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZCZH_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{147,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,47}}</string>
                <key>sourceSize</key>
                <string>{147,47}</string>
            </dict>
            <key>ZCZH_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,84},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>ZHDL_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{148,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,47}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>ZHDL_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,152},{89,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,37}}</string>
                <key>sourceSize</key>
                <string>{89,37}</string>
            </dict>
            <key>ZhuCe_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{167,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,71}}</string>
                <key>sourceSize</key>
                <string>{167,71}</string>
            </dict>
            <key>ZhuCe_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,68},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>u_l_DengLu_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>u_l_DengLu_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{171,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,72}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>u_l_MiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,215},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>u_l_NiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,211},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>u_l_WYZC_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,176},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>u_l_WangJiMiMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>u_l_ZHDL_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,187},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>u_l_ZhangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,175},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>u_l_account_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,223},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>u_l_account_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,228},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>u_l_account_more_delet.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,223},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>u_l_ass_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,233},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>u_l_ass_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,223},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>u_l_ass_password_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,215},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>u_l_ass_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,187},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILogon.png</string>
            <key>size</key>
            <string>{704,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0c313168fd801c18fd27b4927081157:01cdd100a756394447c31b4cc8a3c324:87b72d562358c0152c5e043a32235641$</string>
            <key>textureFileName</key>
            <string>UILogon.png</string>
        </dict>
    </dict>
</plist>
