<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DengJiTiaoDiWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>u_task_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{95,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,18}}</string>
                <key>sourceSize</key>
                <string>{99,20}</string>
            </dict>
            <key>u_task_loading_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>u_vip_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{294,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,14}}</string>
                <key>sourceSize</key>
                <string>{294,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILoadingBar.png</string>
            <key>size</key>
            <string>{456,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b1a3681c79044f60399beef15a59e7:89d8c63e6a283243c7ace99e5aa2bbd4:309247722e6556c9f6e0d897d475f239$</string>
            <key>textureFileName</key>
            <string>UILoadingBar.png</string>
        </dict>
    </dict>
</plist>
