<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{293,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,611}}</string>
                <key>sourceSize</key>
                <string>{293,611}</string>
            </dict>
            <key>mode_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,397}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,119},{281,397}}</string>
                <key>sourceSize</key>
                <string>{293,611}</string>
            </dict>
            <key>u_mode_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,297},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>u_mode_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,297},{115,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,121}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>u_mode_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,297},{136,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{140,102}</string>
            </dict>
            <key>u_mode_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,355},{108,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,118}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>u_mode_name0.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,297},{192,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{192,56}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
            <key>u_mode_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,401},{196,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,60}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
            <key>u_mode_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{196,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,60}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
            <key>u_mode_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,399},{192,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{192,58}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMode.png</string>
            <key>size</key>
            <string>{898,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84bb59ea8e47daa7def8c51644ac3ef:9b4ddcc50f00a035736340a03cc849e1:78030c5705e793599322997a92e2e31c$</string>
            <key>textureFileName</key>
            <string>UIMode.png</string>
        </dict>
    </dict>
</plist>
