<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_m_nothing_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>u_m_select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,67},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>u_m_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{349,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,63}}</string>
                <key>sourceSize</key>
                <string>{349,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMsg.png</string>
            <key>size</key>
            <string>{460,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ca4df0a6c693cd32f372312f190b6c:7986f354e91ae2444a19bb5c90322a64:dcaf48b0e5dd327cde9edbafd714e2f4$</string>
            <key>textureFileName</key>
            <string>UIMsg.png</string>
        </dict>
    </dict>
</plist>
