<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XiaoBiaoTi_DiWen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{109,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,41}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>u_lobby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,949},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>u_p_DiWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,724},{154,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,228}}</string>
                <key>sourceSize</key>
                <string>{154,228}</string>
            </dict>
            <key>u_pop_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,287}}</string>
                <key>sourceSize</key>
                <string>{486,287}</string>
            </dict>
            <key>u_pop_small_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,724},{229,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,45}}</string>
                <key>sourceSize</key>
                <string>{229,45}</string>
            </dict>
            <key>u_shop_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,373},{223,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,267}}</string>
                <key>sourceSize</key>
                <string>{223,267}</string>
            </dict>
            <key>u_u_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,291},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_u_info_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,642},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>u_u_info_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{369,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,130}}</string>
                <key>sourceSize</key>
                <string>{369,130}</string>
            </dict>
            <key>u_u_knapsack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,949},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>ui_pop_user_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{656,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,398}}</string>
                <key>sourceSize</key>
                <string>{656,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIPanel.png</string>
            <key>size</key>
            <string>{627,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da801310805ea76a32bfd0add4cfc300:a766a4bcc11e328a7f7e2db0d43afce6:32c497890652a868b1bc601216ad4c61$</string>
            <key>textureFileName</key>
            <string>UIPanel.png</string>
        </dict>
    </dict>
</plist>
