<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BXGMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>DLMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,66},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>GYWM_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>GYWM_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{146,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,62}}</string>
                <key>sourceSize</key>
                <string>{146,62}</string>
            </dict>
            <key>SheZhi_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{75,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>XHZH_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,69}}</string>
                <key>sourceSize</key>
                <string>{178,69}</string>
            </dict>
            <key>XHZH_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>YJFK_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>YJFK_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,102},{147,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,62}}</string>
                <key>sourceSize</key>
                <string>{147,62}</string>
            </dict>
            <key>YXBZ_But_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>YXBZ_But_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,102},{147,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,62}}</string>
                <key>sourceSize</key>
                <string>{147,62}</string>
            </dict>
            <key>YinXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,166},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
            <key>YinYue.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISetUp.png</string>
            <key>size</key>
            <string>{459,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725e1b9c26997f443b2cf99421537cb8:7795d66a59d2d719d96e2f425e37e7f6:a51faf4be4b6ab9ecbe2b87d4b978dc4$</string>
            <key>textureFileName</key>
            <string>UISetUp.png</string>
        </dict>
    </dict>
</plist>
