<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DJG_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,337},{188,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>DJG_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,465},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>LBG_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,271},{188,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>LBG_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,403},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>u_auction_small_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,485},{19,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{19,45}</string>
            </dict>
            <key>u_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,639}}</string>
                <key>sourceSize</key>
                <string>{216,639}</string>
            </dict>
            <key>u_shop_cell_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,416},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_cell_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,403},{10,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,80}}</string>
                <key>sourceSize</key>
                <string>{10,80}</string>
            </dict>
            <key>u_shop_cell_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,416},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,477},{2,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>u_shop_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{223,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,267}}</string>
                <key>sourceSize</key>
                <string>{223,267}</string>
            </dict>
            <key>u_shop_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,527},{171,39}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{171,39}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
            <key>u_shop_titel.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,568},{131,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,66}}</string>
                <key>sourceSize</key>
                <string>{131,66}</string>
            </dict>
            <key>u_shop_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,271},{143,33}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{143,33}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
            <key>u_shop_vip_pice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,506},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIShop.png</string>
            <key>size</key>
            <string>{445,643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f59f07d099c5caccef61965baceee9b6:33499e88e27e2204a2f9a8095c341d4b:5dff9365c6c14675677185d52acaa034$</string>
            <key>textureFileName</key>
            <string>UIShop.png</string>
        </dict>
    </dict>
</plist>
