<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DJG_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,220},{188,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>DJG_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,286},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>DuiHuan_BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,286},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>GouMai_BiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>LBG_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,220},{188,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>LBG_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>ShiYong_BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,348},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>VIPGuan_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,220},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>VIPGuan_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{188,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>u_auction_small_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,348},{19,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{19,45}</string>
            </dict>
            <key>u_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,639}}</string>
                <key>sourceSize</key>
                <string>{216,639}</string>
            </dict>
            <key>u_shop_cell_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,354},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_cell_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,286},{10,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,80}}</string>
                <key>sourceSize</key>
                <string>{10,80}</string>
            </dict>
            <key>u_shop_cell_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,286},{10,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,59}}</string>
                <key>sourceSize</key>
                <string>{10,59}</string>
            </dict>
            <key>u_shop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,220},{2,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>u_shop_titel.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,286},{131,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,66}}</string>
                <key>sourceSize</key>
                <string>{131,66}</string>
            </dict>
            <key>u_shop_vip_pice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,348},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIShop.png</string>
            <key>size</key>
            <string>{643,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d75e39aff25e9faa5bf1772e1726833:4d71b6b9e73c2730ad37cabcd7ba91e7:5dff9365c6c14675677185d52acaa034$</string>
            <key>textureFileName</key>
            <string>UIShop.png</string>
        </dict>
    </dict>
</plist>
