<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_s_gem_box0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,390},{42,36}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,36}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>u_s_gem_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,435},{51,45}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,45}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>u_s_gem_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,390},{58,47}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,47}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>u_s_gem_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{71,62}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{71,62}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>u_s_gem_box_open0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,435},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>u_s_gem_box_open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,384},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>u_s_gem_box_open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,384},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>u_s_gem_box_open3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,314},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>u_s_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,288}}</string>
                <key>sourceSize</key>
                <string>{310,288}</string>
            </dict>
            <key>u_s_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,439},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>u_s_sign_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>u_s_unsign.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,452},{39,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,28}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISign.png</string>
            <key>size</key>
            <string>{292,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c5bda2569efe1f015ccd554a407291:254d0d7c3c3f32dc18732beea6e005d9:adbefee705f2e5632cc8fee81fb4cc1b$</string>
            <key>textureFileName</key>
            <string>UISign.png</string>
        </dict>
    </dict>
</plist>
